.app {
  height: 100%;
  display: flex;

  .sidenav-container {
      height: 100%;
      width: 100px;
      background-color: aliceblue;
  }

  .app-container {
      display: flex;
      flex-direction: column;
      flex: 1 1;

      .topnav-container {
          height: 50px;
          background-color: beige;
      }

      .app-content {
          flex: 1 1;
          overflow: auto;
      }
  }
}