.post {
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    -webkit-box-shadow: 3px 2px 9px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 9px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 9px -3px rgba(0, 0, 0, 0.75);

    .post-content {
      min-height: 70px;
    }

    .displayed-comment-area {
      display: flex;
    }

    .hidden-comment-area {
      display: none;
    }
  }